[global]
author=["jotego"]

[parse]
sourcefile=[ "sf.cpp" ]
skip.bootlegs=true
skip.setnames=[
    # graphics wrong, game boots
    "sfjan",
    # wrong inputs
    "sfan",
    # won't boot
    "sfp",
]

[Audio]
volume = [
    { machine="sf", value=0xFF },
]

[buttons]
names=[
    { names="Light Punch,Middle Punch,Heavy Punch,Light Kick,Middle Kick,Heavy Kick" }
]

[dipsw]
rename=[
    {name="Game Continuation", to="Continue"},
    {name="Buy-In Feature", to="Buy in"},
    {name="Number of Countries Selected", to="Countries"},
    {name="Round Time Count", to="Time"},
]
delete=[
    { names=["Unused","Buy-In Feature"] }
]

[ROM]
regions=[
    { name="maincpu", width=16, no_offset=true, reverse=true },
    { name="audiocpu", start="JTFRAME_BA1_START"             },
    { name="audio2",   start="SND2_START"                    },
    { name="tilerom",  start="JTFRAME_BA2_START", width=16, sequence=[2,3,0,1]},
    { name="gfx4",     start="CHAR_START", reverse=true, no_offset=true },
    { name="gfx2",     start="JTFRAME_BA3_START", width=16, sequence=[0,4,1,5,2,6,3,7], no_offset=true },
    { name="gfx1",     start="SCR2_START",        width=16, sequence=[0,2,1,3], no_offset=true },
    { name="gfx3",     start="OBJ_START",         width=16, sequence=[0,7,1,8,2,9,3,10,4,11,5,12,6,13], no_offset=true },
    { name="protcpu",  start="JTFRAME_PROM_START" },
    { name="proms", skip=true },
    { name="plds",  skip=true }
]

order=["maincpu","audiocpu", "audio2",
    "tilerom","gfx4",
    "gfx2","gfx1","gfx3", "protcpu" ]