[submodule "modules/fx68k"]
	path = modules/fx68k
	url = https://github.com/jtfpga/fx68k
[submodule "modules/jt51"]
	path = modules/jt51
	url = https://github.com/jotego/jt51
[submodule "modules/jt5205"]
	path = modules/jt5205
	url = https://github.com/jotego/jt5205
[submodule "modules/j12"]
	path = modules/jt12
	url = https://github.com/jotego/jt12
[submodule "modules/jtopl"]
	path = modules/jtopl
	url = https://github.com/jotego/jtopl.git
[submodule "modules/jt6295"]
	path = modules/jt6295
	url = https://github.com/jotego/jt6295.git
[submodule "modules/jteeprom"]
	path = modules/jteeprom
	url = https://github.com/jotego/jteeprom.git
[submodule "modules/jttms"]
	path = modules/jttms
	url = https://github.com/jotego/jttms.git
[submodule "modules/jt49"]
	path = modules/jt49
	url = https://github.com/jotego/jt49.git
[submodule "modules/jt89"]
	path = modules/jt89
	url = https://github.com/jotego/jt89.git
[submodule "modules/jt7759"]
	path = modules/jt7759
	url = https://github.com/jotego/jt7759.git
[submodule "modules/jtdsp16"]
	path = modules/jtdsp16
	url = https://github.com/jotego/jtdsp16.git
[submodule "modules/jt8255"]
	path = modules/jt8255
	url = https://www.github.com/jotego/jt8255
[submodule "modules/jtkcpu"]
	path = modules/jtkcpu
	url = https://github.com/jotego/jtkcpu.git
[submodule "modules/jt900h"]
	path = modules/jt900h
	url = git@github.com:jotego/jt900h.git
[submodule "modules/jtframe/target/pocket"]
	path = modules/jtframe/target/pocket
	url = git@github.com:jotego/pocket.git
[submodule "modules/jt539"]
	path = modules/jt539
	url = https://github.com/jotego/jt539.git
