*.rbf
*.hex
*.lxt
*.rpt
*.rom
*.wav
*.fst
*.bak
*.lst
*.bin
*.log
*.png
*.jpg
*.raw
*.qpf
*.qsf
*.pin
*.sof
*.jdi
*.f
*.zip
*.xml
hosts.*
test.cpp
neptuno
mc2
mcp
.simvision
log/*
sim
build_id.v
*/mist/*
*/mister/*
cores/*/zxuno/*
cores/*/mist/*
cores/*/sidi/*
cores/*/mister/*
cores/*/pocket/*
*/obj_dir/*
.simvision
ncverilog.*
rom/1942/*
rom/1943*/*
rom/gng/*
rom/gngroms/*
rom/commando/*
rom/*zip
*.smsg
*.summary
ncverilog.*
INCA_libs
test.shm
*/mist
releases/*
*/mist/incremental_db
*/mist/db
old/*
history
core.def
macros.f
jtsim.f
jtsim_vhdl.f
video.info*-backups
defmacros.h
