*-backups
*.arc
*.bak
*.bin
*.cfg
*.fmt
*.fst
*.hex
*.jdi
*.jpg
*.json
*.kicad_sch-bak
*.log
*.lck
*.lst
*.lxt
*.mp4
*.mra
*.nvm
*.ods#
*.old
*.p
*.pin
*.png
*.RAM
*.raw
*.rbf
*.rbf_r
*.rom
*.rom
*.rpt
*.smsg
*.sof
*.summary
*.trace
*.vcd
*.wav
*.zip
*/mist
*/mist/*
*/mist/db
*/mist/incremental_db
*/mister/*
*/obj_dir/*
*_game_sdram.v
*fst.hier
.DS_Store
.simvision
.simvision
_autosave-*
build_id.v
core.def
core.mod
cores/*/mc2/*
cores/*/mcp/*
cores/*/mist/*
cores/*/mister/*
cores/*/neptuno/*
cores/*/pocket/*
cores/*/sch/*/*pdf
cores/*/sch/*pdf
cores/*/sidi/*
cores/*/sockit/*
cores/*/de1*/*
cores/*/demist_*/*
cores/*/mist_*/*
cores/*/ver/regrun
cores/*/zxuno/*
cores/*/hdl/*_mmr.v
default.dip
defmacros.h
dump2bin.sh
game.qip
game_env.F
game_test.v
fp-info-cache
history
INCA_libs
jtsim.f
jtsim_vhdl.f
log/*
macros.f
mame.xml
mem_ports.inc
microrom.mem
mist_dump.v
nanorom.mem
ncverilog.*
ncverilog.*
obj_dir
old/*
old
release.bak/*
release/*
rom
rom/*
rom/cp_*sh
rom/mra
rom/pocket
sdram.old
setnames.txt
sim
test.cpp
test.shm
test.gtkw
video.info
vsim.do
waiver
work
x
*.uc
*_param.vh
jt680x.vh
6?0?.vh
900h.vh
