*-backups
*.arc
*.bak
*.bin
*.cfg
*.f
*.fmt
*.fst
*.hex
*.jdi
*.jpg
*.kicad_sch-bak
*.log
*.lst
*.lxt
*.ods#
*.pin
*.png
*.qpf
*.qsf
*.raw
*.rbf
*.rbf_r
*.rom
*.rom
*.rpt
*.smsg
*.sof
*.summary
*.wav
*.zip
*.mra
*.json
*/mist
*/mist/*
*/mist/db
*/mist/incremental_db
*/mister/*
*/obj_dir/*
*_game_sdram.v
.DS_Store
.simvision
.simvision
build_id.v
core.def
cores/*/mc2/*
cores/*/mcp/*
cores/*/mist/*
cores/*/mister/*
cores/*/neptuno/*
cores/*/pocket/*
cores/*/sidi/*
cores/*/sockit/*
cores/*/zxuno/*
defmacros.h
game.qip
game_env.F
game_test.v
history
INCA_libs
jtsim.f
jtsim_vhdl.f
log/*
macros.f
mame.xml
mem_ports.inc
microrom.mem
nanorom.mem
ncverilog.*
ncverilog.*
obj_dir
old/*
releases/*
rom/mra
rom/pocket
sim
test.cpp
test.shm
video.info
vsim.do
waiver
work
x
