[parse]
sourcefile=[ "twin16.cpp" ]
parents= [
    {name="mia",description="Missing in Action"},
    {name="cuebrick",description="Cuebrick"}
]
skip = { machines=[
    "cuebrick",
    "mia",
    "vulcan",
    "devilw",
], setnames=[
    "hpuncher",
] }

[Audio]
volume = [
    { machine="fround", value=0xFA },
]

[buttons]
names=[
    { machine="fround", names="Face Punch,Body Punch,Guard" },
]

[dipsw]
delete=[{names=["Unused","Unknown"]}]

[ROM]
# values starting with $ refer to macro definitions in the .def file
# or arguments passed to mame2mra
regions = [
    { name="maincpu", width=16, reverse=true  },
    { name="sub", width=16, reverse=true  },
    { name="sub", setnames=[ "fround", "froundl" ], skip = true },
    { name="data"  },
    { name="audiocpu", start="JTFRAME_BA1_START" },
    { name="fixed",    start="JTFRAME_BA2_START" },
    { name="tiles",    start="SCR_START", width=32 },
    { name="gfxrom",   start="JTFRAME_BA3_START", width=32 },
    { name="k007232"  },
    { name="upd"  },
    { name="proms", skip=true }
]

order = [
    "maincpu", "sub", "data", "audiocpu",
    "k007232", "upd",
    "fixed", "tiles", "gfxrom"
]

patches = [
    # skip ROM check
    { setname="fround", offset=0x1058, data="12 11" }
]