[global]
# info = [ {tag="mameversion", value="0229"} ]
author=["jotego"]
platform="jtdd"

[parse]
sourcefile=[ "ddragon.cpp" ]
skip.setnames=[
    "ddragonb2",
    "ddragon2",
    "ddragon2u",
    "ddragon2j",
    "ddragon2b",
    "tstrike",
    "tstrikea",
    "ddungeon",
    "ddungeone",
    "darktowr",
    "toffy",
    "stoffy",
    "stoffyu",
    # broken bootlegs (three M6809 instead of two plus MCU)
    "ddragonb", "ddragonba",
    "ddragon6809", "ddragon6809a",

    "ddragonbla","toffya",
    "ddragonja","ddragon2bl"
]

[Audio]
volume = [
    { machine="ddragon", value=0x50 },
]

[buttons]
Names = [
    { names="Kick,Jump,Punch"},
]

[dipsw]
# Flip screen not supported
delete=[{names=["Unused","Unknown"]}]
rename = [
    { name="Bonus Life", to="Bonus" },
]

[ROM]
regions=[
    { name="maincpu", sequence=[1,2,3,3,4] },
    { name="soundcpu", no_offset=true, start="JTFRAME_BA1_START" },
    { name="chars", start="JTFRAME_BA2_START" }, # char
    { name="tiles",   width=16, no_offset=true, sequence=[0,2,1,3], start="SCR_START" }, # scroll
    { name="sprites", width=16, no_offset=true, sequence=[0,4,1,5,2,6,3,7], start="JTFRAME_BA3_START" },  # objects
    { name="proms", sequence=[0] } # the second PROM is not used
]

order=[
    "maincpu", "soundcpu",
    "adpcm1", "adpcm2",
    "chars", "tiles", "sprites",
    "sub", "proms"
]

patches=[
    # skip ROM test and legal screen - it won't initialize the hi-score table
    # { setname="ddragon", offset=0x20040, data="7e 80 63" },
]