[global]
mraauthor=["jotego"]

[parse]
sourcefile=[ "dec0.cpp" ]
skip.bootlegs=true
mustbe.machines=[
    "hippodrm",
    "robocop",
]

[buttons]
Names = [
    { machine="robocop", names="Shot,Jump"},
    { machine="hippodrm", names="Attack,Jump"},
]

[dipsw]
bitcnt = 16
base = 17
delete = [ "Unused", "Unknown" ]
rename = [
    { name="Enemy Power Decrease on Continue", to="Player strength"},
    { name="Control Panel Type", to="Panel" },
    { name="Player & Enemy Energy", to="Energy scale"},
    { name="L/R control related (keep off)", to="Unknown" }
]

[ROM]
regions = [
    { name="maincpu",  width=16, reverse=true },
    { name="audiocpu", start="SND_START", No_offset=true  },
    { name="oki",      start="PCM_START" },

    # GFX1
    # { machine="midres", name="gfx1",     start=$BA2_START, width=16, No_offset=true, reverse=true },
    { name="gfx1",     start="BA2_START", width=16, No_offset=true },

    # GFX2
    { machine="robocop", name="gfx2",     start="GFX2_START",width=16, No_offset=true,  name_sort=[
    "ep20", "ep18", "ep21", "ep19"] },
    { machine="hippodrm", name="gfx2",     start="GFX2_START",width=16, No_offset=true,  name_sort=[
    "ew19", "ew20", "ew18", "ew21"] },

    # GFX3
    { name="gfx3",     start="GFX3_START", width=16, sequence=[1,3,0,2] },

    { name="gfx4",     start="BA3_START", width=32, No_offset=true, sort_even=true },
    { name="sub",      start="MCU_START" },
    { name="mcu",      start="MCU_START" },
    { name="proms",    start="JTFRAME_PROM_START" },
    { name="plds",     skip=true         }
]

order = [
    "maincpu", "audiocpu", "oki",
    "gfx1", "gfx2", "gfx3", "gfx4", "mcu", "sub", "proms"
]

blanks = [
    { machine="robocop",  region="gfx2", offset=0x20000, len=0x20000 },
    { machine="robocop",  region="gfx3", offset=0x10000, len=0x10000 },
    { machine="hippodrm", region="gfx2", offset=0x10000, len=0x30000 },
    { machine="hippodrm", region="gfx3", offset=0x10000, len=0x10000 },
]

patches = [
    {machine="hippodrm", offset=0x210189, value=" 60 "},
    {machine="hippodrm", offset=0x2101af, value=" 60 "},
    {machine="hippodrm", offset=0x2101db, value=" 60 "},
    {machine="hippodrm", offset=0x21021a, value=" 60 "}
]
