*.qpf
*.qsf
*.bin
*.zip
*.rom
*.fst
*.vcd
*.lxt
*.log
*.hex
*.jpg
*.cdf
*.arc
defmacros.h
cheat/*.bin
cheat/*.fmt
history
ver/game/*.f
ver/game/*.bin
ver/game/*.jpg
obj_dir
db
incremental_db
cores/*/mister/*
cores/*/neptuno/*
cores/*/sidi/*
cores/*/mc2
cores/*/mcp
*.F
macros.f
core.def
jtsim.f
jtsim_vhdl.f
