[global]
mraauthor=["jotego"]

[parse]
sourcefile=[ "cps1.cpp" ]
#skip.bootlegs=true
mustbe.devices=["ym2151"]
# Need to fix the mix of gfx ROMs of 8 and 16 bits:
skip.setnames=[
	# won't boot
	"ganbare",
	"3wondersu",
	"3wonders1",
	"ffightjh",
    # CPS1.5 bootlegs
    "dinohunt",
    "punisherbz",
    "wofhfh",
    # bootlegs that won't boot (likely different hardware)
    "sf2level",
    "sf2dongb",
    "sf2dkot2",
    "sf2bhh",
    "sf2m2",
    "sf2m3",
    "sf2m4",
    "sf2m5",
    "sf2m7",
    "sf2ceblp",
    "sf2rb",
    "sf2rb2",
	"sf2mkot",
	"sf2um",
	"sf2ue",
	"sf2ef",
	"sf2ee",
    "sf2reda",
    "sf2koryu",
    "sf2thndr",
    "sf2thndr2",
    "pang3b2",
    "pang3b3",
    "pang3b4",
    "pang3b5",
    "varthb2",
    # bootlegs with bad graphics
    "3wondersb",
    # Bad number of ROMs for interlave in bootlegs
    "captcommb",
    "knightsb2",
    "sf2amf",
    "sf2amf2",
    "sf2amf3",
    "sf2ceds6",
    "sf2cems6a",
    "sf2cems6b",
    "sf2cems6c",
    "sf2ebbl",
    "sf2ebbl2",
    "sf2ebbl3",
    "sf2m10",
    "sf2m6",
    "sf2m8",
    "sf2re",
    "sf2rk",
    "sf2rules",
    "sf2stt",
    "varthb3",
]

[buttons]
Names = [
    { machine="3wonders", names="Attack/Shot/P.Block,Jump/T.Shot/P.Block"},
    { machine="1941",     names="Shoot,Bomb"},
    { machine="unsquad",  names="Shoot,Bomb"},
    { machine="captcomm", names="Attack,Jump"},
    { machine="cawing",   names="Shoot,Bomb"},
    { machine="mtwins",   names="Attack,Jump,Special"},
    { machine="ghouls",   names="Attack,Jump"},
    { machine="dynwar",   names="Attack left,Attack right,Special"},
    { machine="ffight",   names="Attack,Jump,Evade"},
    { machine="forgottn", names="Shoot,Rotate left,Rotate right"},
    { machine="knights",  names="Slay,Jump"},
    { machine="kod",      names="Slay,Jump"},
    { machine="msword",   names="Slay,Jump"},
    { machine="mpumpkin", names="Kitty,Keroppi,Badtz-Maru"},
    { machine="megaman",  names="Attack,Jump,Weapon Change" },
    { machine="mercs",    names="Shoot,Bomb"},
    { machine="mbombrd",  names="Hit,Grab,Jump"},
    { machine="nemo",     names="Attack,Jump"},
    { machine="pang3",    names="Shoot"},
    { machine="pnickj",   names="Rotate left,Rotate right"},
    { machine="sf2",      names="LP,MP,SP,LK,MK,HK"},
    { machine="sf2ce",    names="LP,MP,SP,LK,MK,HK"},
    { machine="sf2hf",    names="LP,MP,SP,LK,MK,HK"},
    { machine="sfzch",    names="LP,MP,SP,LK,MK,HK"},
    { machine="strider",  names="Attack,Jump"},
    { machine="varth",    names="Shoot,Bomb"},
    { machine="willow",   names="Attack,Jump"},
    { machine="wof",      names="Attack,Jump"},
    { machine="qad",      names="Button 1, Button 2, Button 3, Button 4"},
]
Dial = [ { machine="mpumpkin", raw=true, reverse=true }, ]

[dipsw]
defaults=[
    { value="ff,9a,99", machines=[ "3wonders" ] },
    { value="ff,bc,bf", machines=[ "msword" ] },
    { value="ff,f4,9f", machines=[ "ffight" ] },
    { value="ff,f4,bf", machines=[ "captcomm", "varth" ] },
    { value="ff,fa,ff", machines=[ "megaman" ] },
    { value="ff,fc,9f", machines=[ "1941", "mercs", "sf2", "sf2ce", "sf2hf", "unsquad" ] },
    { value="ff,fc,bf", machines=[ "cawing", "knights", "mtwins", "nemo" ] },
    { value="ff,fc,ff", machines=[ "cworld2j", "forgottn", "pnickj", "qtono2j" ] },
    { value="ff,ff,ff", machines=[ "dynwar", "pang3" ] },
    { value="7f,ff,ff", setnames=[ "daimakai", "daimakair", "striderj", "striderjr", "willowj" ] },
    { value="ff,f4,ff", setnames=[ "qad" ] },
    { value="ff,fc,9f", setnames=[ "kodu" ] },
    { value="ff,fc,bf", setnames=[ "kod", "kodj", "kodja", "kodr1", "kodr2" ] },
    { value="ff,fd,ff", setnames=[ "ghouls", "ghoulsu", "qadjr", "strider", "striderua", "strideruc" ] },
    { value="ff,ff,fa", setnames=[ "willow", "willowu", "willowuo" ] },
]
delete=[
    {names=[ "Unused", "Unknown", "Coinage", "Coin Slots", "Coin A", "Coin B", "2 Coins to Start, 1 to Continue" ]},
    {setname="sf2accp2", names=["Shot Type"]},
    {setname="forgottnj", names=["Freeze"]},
]
rename=[
    {name="2 Coins to Start, 1 to Continue", to="2 to start, 1 continue"},
    {name="Lives (Midnight Wanderers)", to="Lives (Mid.W.)"},
    {name="Difficulty (Midnight Wanderers)", to="Gameplay (Mid.W.)"},
    {name="Difficulty (Chariot)", to="Gameplay (Chariot)"},
    {name="Difficulty (Don't Pull)", to="Gameplay (Don't P.)"},
    {name="Difficulty Level (Enemy's Strength)", to="Enemy's Strength"},
    {name="Difficulty Level (Player's Strength)", to="Gameplay"},
    {name="Bonus Life", to="Bonus"},
    {name="Enemy's vitality and attacking power", to="Enemy's Strength"},
    {name="Player's vitality consumption", to="Stamina"},
    {name="Internal Diff. on Life Loss", to="Life Loss"},
    {name="2 Players Game", to="2P Game"},
    {name="Wisdom (questions to win game)", to="Questions"},
    {name="Ken special rapid multiple shots", to="Ken rapid shots"},
    {name="Ryu special rapid multiple shots", to="Ryu rapid shots"},
    {name="Guile special rapid multiple shots", to="Guile rapid shots"},
    {name="Blanka special rapid multiple shots", to="Blanka rapid shots"},
]
extra=[
    { machine="pang3", name="Freeze", options="On,Off", bits="23" },
]

[rom]
regions=[
    { name="maincpu", width=16, reverse=true, overrules=[
        { names=[
                "1.6f", "1.7f", "1.8f", "20.096", "21-c.6f", "21.096", "22", "22-c.7f", "22.096", "23", "23-c.8f", "23.096", "33.6f", "34.8f", "41-32m.8h",
                "6st-u196.2m1", "6st-u210.2m1", "ar-32m.8h", "araj_22.7f", "araj_23.8f", "ca-32m.8h", "cc_22d.7f", "cc_22f.7f", "cce_23d.8f", "cce_23f.8f",
                "ccj_22c.7f", "ccj_22f.7f", "ccj_23b.8f", "ccj_23f.8f", "ccu_22c.7f", "ccu_23b.8f", "cde_21a.6f", "cde_22a.7f", "cde_23a.8f", "cdj_21a.6f",
                "cdj_22a.7f", "cdj_23a.8f", "cdt_21.6f", "cdt_22.7f", "cdt_23.8f", "cdu_21a.6f", "cdu_22a.7f", "cdu_23a.8f", "ci030.u10.400", "ck-32m.8h",
                "damj_22.7f", "damj_23.8f", "ff-22m.7h", "ff-23m.8h", "ff-32m.8h", "ff_22.7f", "ff_23.8f", "kd_33.6f", "kr_22.7f", "kr_23e.8f", "kr_23j.8f",
                "kr_23u.8f", "lw-07.10g", "lw-07.13e", "mbde_20.5f", "mbde_21.6f", "mbdj_20.5f", "mbdj_21.6f", "mbe_20a.5f", "mbe_21a.6f", "mbe_23e.8f",
                "mbj_20a.5f", "mbj_21a.6f", "mbj_22b.7f", "mbj_23e.8f", "mbu_20a.5f", "mbu_21a.6f", "mbu_23e.8f", "mpa_23.8f", "mrnj_23d.8f", "ms-32m.8h",
                "ms6.u10", "ms6.u196", "ms6b.u0", "ms6b.u10", "ms6b.u196", "ms6c.u0", "nm-32m.8h", "pa3e_16.10l", "pa3e_16a.10l", "pa3e_17.11l", "pa3e_17a.11l",
                "pa3j_16.10l", "pa3j_17.11l", "pa3w_16.10l", "pa3w_17.11l", "ps_21.6f", "psj_21.6f", "psj_22.7f", "psj_23.8f", "q5 - 22_91634b.7f", "q5 - 23_91634b.8f",
                "q5 - 33_90629b.6f", "q5 - 34_90629b.8f", "qad_22a.7f", "qad_23a.8f", "qkn.33", "qkn.34", "rcm_21a.6f", "rcm_22a.7f", "rcm_23a.8f", "rcma_21a.6f",
                "rcma_22b.7f", "rcma_23b.8f", "rcmu_21a.6f", "rcmu_22b.7f", "rcmu_23b.8f", "rj313.u196.800", "s2te_21.6f", "s2te_22.7f", "s2te_23.8f", "s2tj_21.6f",
                "s2tj_22.7f", "s2tj_23.8f", "s2tu_21.6f", "s2tu_22.7f", "s2tu_23.8f", "s92_21a.5f", "s92_21a.6f", "s92_21a.bin", "s92_22a.7f", "s92_22b.7f", "s92_22c.7f",
                "s92e_23a.8f", "s92e_23b.8f", "s92j_21a.6f", "s92j_22a.7f", "s92j_22b.7f", "s92j_22c.7f", "s92j_23a.8f", "s92j_23b.8f", "s92j_23c.8f", "s92t_23a.8f",
                "s92u_23a.8f", "s92u_23b.8f", "s92u_23c.8f", "sf2_ce_rb.22", "sf2_ce_rb.23", "sf2ca-21.bin", "sf2ca-22.bin", "sf2ca-23.bin", "sf2ca_21-c.bin", "sf2ca_22-c.bin",
                "sf2ca_23-c.bin", "sf2red.21", "sf2red.22", "sf2red.23", "sf2v004.22", "sf2v004.23", "sfach23", "sfza20", "sfza22", "sfzbch23", "sfzch21", "sfzch23",
                "so2-32m.8h", "st-14.8h", "stf champ wave rom 21.6f", "stf champ wave rom 22.7f", "stf champ wave rom 23.8f", "stfii-qkn-cps-17.33", "stfii-qkn-cps-17.34",
                "sthj_22.7f", "sthj_23.8f", "tk1j_22.7f", "tk1j_23.8f", "tk2=ch=_22.7f", "tk2=ch=_23.8f", "tk2a_22c.7f", "tk2a_23c.8f", "tk2e_22b.7f", "tk2e_22c.7f",
                "tk2e_23b.8f", "tk2e_23c.8f", "tk2j_22c.7f", "tk2j_23c.8f", "tk2u_22c.7f", "tk2u_23c.8f", "tkm-9.8h", "turboii.21", "turboii.22", "turboii.23", "u10l1_16.bin",
                "u11l1_17.bin", "u20", "u21", "u22", "u23", "vaj_22b.7f", "vaj_23b.8f", "vau_22a.7f", "vau_23a.8f", "wlm-32.8h",
            ], reverse=false },
    ] },
    { name="gfx", width=64 },
    # So far, Pang!3 is too specific. It needs to break each file in two and
    # merge them back in different locations. Instead of parsing MAME's XML
    # the desired parts are done manually:
    { name="gfx", width=64, machine="pang3", parts=[
        { name="pa3-01m.2c", crc="068a152c", map="00000021", length=0x100000, offset=0 },
        { name="pa3-07m.2f", crc="3a4a619d", map="00002100", length=0x100000, offset=0 },
        { name="pa3-01m.2c", crc="068a152c", map="00210000", length=0x100000, offset=0x100000 },
        { name="pa3-07m.2f", crc="3a4a619d", map="21000000", length=0x100000, offset=0x100000 },
    ] },
    { name="oki", len=0x40000 },
    { name="aboardplds", skip=true },
    { name="bboardplds", skip=true },
    { name="cboardplds", skip=true },
    { name="timekeeper", skip=true },
    { name="pal", skip=true },
]

order = ["maincpu", "audiocpu","oki","gfx"]
nvram = { machines=["pang3"] }

[header]
fill=0xff
offset={ bits=10, regions=["audiocpu","oki", "gfx"], reverse=true }

data=[
	{ data="20 05 FF FF FF FF 28 2A 2C 2E 30 00 00 32 02 08 20 14 2A 40 44 F3 FF 00", offset=16, setnames=[ "1941", "1941j", "1941r1", "1941u" ] },
	{ data="32 80 0E 0C 0A 08 28 26 24 22 20 00 00 30 20 04 08 12 1D 40 88 73 FF 00", offset=16, setnames=[ "3wonders", "3wondersr1", "3wondersu" ] },
	{ data="32 80 0E 0C 0A 08 28 26 24 22 20 36 00 30 20 04 08 12 1D 40 88 73 FF 00", offset=16, setnames=[ "3wondersb" ] },
	{ data="FF FF 0E 0C 0A 08 28 26 24 22 20 00 00 22 20 04 08 12 1D 40 88 73 FF 00", offset=16, setnames=[ "3wondersh" ] },
	{ data="32 41 FF FF FF FF 26 28 2A 2C 2E 00 00 30 08 10 20 00 00 20 44 31 FF 00", offset=16, setnames=[ "area88" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 00 20 44 31 FF 01", offset=16, setnames=[ "area88r" ] },
	{ data="FF FF 06 04 02 00 20 2E 2C 2A 28 36 38 30 20 12 12 00 04 40 88 73 FF 04", offset=16, setnames=[ "captcomm", "captcommj", "captcommjr1", "captcommr1", "captcommu" ] },
	{ data="00 46 FF FF FF FF 0C 0A 08 06 04 00 00 02 10 0A 0A 00 03 40 44 F3 FF 00", offset=16, setnames=[ "cawing", "cawingr1", "cawingur1" ] },
	{ data="00 46 FF FF FF FF 0C 0A 08 06 04 00 00 02 10 0A 0A 00 02 20 44 31 FF 00", offset=16, setnames=[ "cawingj" ] },
	{ data="20 05 FF FF FF FF 28 2A 2C 2E 30 00 00 32 02 08 20 14 02 20 44 31 FF 00", offset=16, setnames=[ "cawingu" ] },
	{ data="1E 44 FF FF FF FF 12 14 16 18 1A 00 00 1C 08 20 10 00 06 40 44 F3 FF 00", offset=16, setnames=[ "chikij", "mtwins" ] },
	{ data="FF FF FF FF FF FF 20 2E 2C 2A 28 36 00 30 20 14 14 00 18 40 44 F3 FF 01", offset=16, setnames=[ "cworld2j", "cworld2jb" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 18 40 44 F3 FF 01", offset=16, setnames=[ "cworld2ja" ] },
	{ data="FF 00 FF FF FF FF 26 28 2A 2C 2E 00 00 30 02 04 08 30 09 20 54 31 11 00", offset=16, setnames=[ "daimakai" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 08 40 88 73 FF 01", offset=16, setnames=[ "daimakair" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 05 40 88 73 FF 03", offset=16, setnames=[ "dinohunt" ] },
	{ data="20 02 FF FF FF FF 2C 2A 28 26 24 00 00 22 02 04 08 00 24 20 64 31 33 00", offset=16, setnames=[ "dynwar", "dynwara", "dynwarj" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 24 20 64 31 33 01", offset=16, setnames=[ "dynwarjr" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 36 30 30 02 04 08 30 1E 40 44 F3 FF 01", offset=16, setnames=[ "ffae" ] },
	{ data="20 04 FF FF FF FF 2E 26 30 28 32 00 00 2A 02 04 08 00 1E 40 44 F3 FF 00", offset=16, setnames=[ "ffight", "ffighta", "ffightj", "ffightu", "ffightu1" ] },
	{ data="FF 00 FF FF FF FF 26 28 2A 2C 2E 00 00 30 02 04 08 30 1E 40 44 F3 FF 00", offset=16, setnames=[ "ffightj1", "ffightua" ] },
	{ data="20 02 FF FF FF FF 2C 2A 28 26 24 00 00 22 02 04 08 00 1E 40 44 F3 FF 00", offset=16, setnames=[ "ffightj2" ] },
	{ data="FF 00 FF FF FF FF 30 2E 2C 2A 28 00 00 26 20 10 08 00 1E 40 44 F3 FF 00", offset=16, setnames=[ "ffightj3", "ffightub" ] },
	{ data="20 05 FF FF FF FF 28 2A 2C 2E 30 00 00 32 02 08 20 14 1E 40 44 F3 FF 00", offset=16, setnames=[ "ffightj4", "ffightuc" ] },
	{ data="FF 00 FF FF FF FF 26 28 2A 2C 2E 00 00 30 02 04 08 30 0E 40 88 73 FF 00", offset=16, setnames=[ "forgottn", "forgottna", "forgottnu" ] },
	{ data="FF 00 FF FF FF FF 26 28 2A 2C 2E 00 00 30 02 04 08 30 0F 40 88 73 FF 00", offset=16, setnames=[ "forgottnua", "forgottnuaa", "forgottnuc", "forgottnue", "lostwrld", "lostwrldo" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 20 00 00 FF FF 00", offset=16, setnames=[ "ganbare", "mpumpkin" ] },
	{ data="FF 00 FF FF FF FF 26 28 2A 2C 2E 00 00 30 02 04 08 30 0A 40 65 13 F1 00", offset=16, setnames=[ "ghouls", "ghouls", "ghouls", "ghoulsu" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 28 40 C8 73 FF 00", offset=16, setnames=[ "gulunpa" ] },
	{ data="FF FF 06 04 02 00 28 26 24 22 20 36 00 30 20 10 02 00 0D 40 88 73 FF 02", offset=16, setnames=[ "knights", "knightsj", "knightsja", "knightsu" ] },
	{ data="FF FF 1E 1C 1A 18 20 2E 2C 2A 28 36 00 30 30 08 30 00 0B 40 88 73 FF 03", offset=16, setnames=[ "kod", "kodj", "kodja", "kodr1", "kodr2", "kodu" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 1B 40 C8 73 77 01", offset=16, setnames=[ "megaman", "megamana", "rockmanj" ] },
	{ data="20 42 FF FF FF FF 2C 2A 28 26 24 36 00 22 02 04 08 00 13 40 66 33 FF 02", offset=16, setnames=[ "mercs", "mercsj", "mercsu", "mercsur1" ] },
	{ data="2E 43 FF FF FF FF 22 24 26 28 2A 00 00 2C 20 02 04 00 11 40 44 F3 FF 00", offset=16, setnames=[ "msword", "mswordj", "mswordr1", "mswordu" ] },
	{ data="0E 45 FF FF FF FF 02 04 06 08 0A 00 00 0C 04 02 20 00 12 40 44 F3 FF 00", offset=16, setnames=[ "nemo", "nemoj", "nemor1" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 14 40 88 73 FF C1", offset=16, setnames=[ "pang3", "pang3j", "pang3r1" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 14 40 88 73 FF 01", offset=16, setnames=[ "pang3b" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 15 40 44 F3 FF 01", offset=16, setnames=[ "pnickj" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 36 00 30 02 04 08 30 16 40 C8 73 F7 00", offset=16, setnames=[ "pokonyan" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 17 40 88 73 FF 01", offset=16, setnames=[ "punisherbz" ] },
	{ data="FF FF FF FF FF FF 2C FF FF FF FF 36 00 12 14 02 14 00 1A 20 22 F1 FF 01", offset=16, setnames=[ "qad" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 36 38 30 02 04 08 30 19 40 44 F3 FF 01", offset=16, setnames=[ "qadjr" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 36 38 30 02 04 08 30 26 40 88 73 FF 01", offset=16, setnames=[ "qtono2j" ] },
	{ data="32 41 FF FF FF FF 26 28 2A 2C 2E 36 00 30 08 10 20 00 23 40 C8 73 F7 08", offset=16, setnames=[ "sf2", "sf2ug" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 36 00 30 02 04 08 30 1F 40 C8 73 F7 09", offset=16, setnames=[ "sf2acc", "sf2acca", "sf2accp2", "sf2ce", "sf2cebltw", "sf2ceea", "sf2ceja", "sf2cejb", "sf2cejc", "sf2cet", "sf2ceua", "sf2ceub", "sf2ceuc", "sf2hf", "sf2hfj", "sf2hfu", "sf2mix", "sf2rb3", "sf2red", "sf2redp2", "sf2v004" ] },
	{ data="FF FF FF FF FF FF 14 12 10 0E 0C 00 00 0A 0E 0E 0E 30 1F 40 C8 73 F7 08", offset=16, setnames=[ "sf2ceds6", "sf2cems6a", "sf2cems6b", "sf2cems6c" ] },
	{ data="FF FF FF FF FF FF 14 12 10 0E 0C 36 00 0A 0E 0E 0E 30 1F 40 C8 73 F7 09", offset=16, setnames=[ "sf2ceupl", "sf2m10" ] },
	{ data="08 47 FF FF FF FF 14 12 10 0E 0C 36 00 0A 08 14 02 00 23 40 C8 73 F7 08", offset=16, setnames=[ "sf2ea", "sf2eb", "sf2em", "sf2en", "sf2j17", "sf2ja", "sf2jl", "sf2qp1", "sf2ua", "sf2ub", "sf2uk" ] },
	{ data="20 05 FF FF FF FF 28 2A 2C 2E 30 36 00 32 02 08 20 14 23 40 C8 73 F7 08", offset=16, setnames=[ "sf2ed", "sf2ud" ] },
	{ data="2E 43 FF FF FF FF 22 24 26 28 2A 36 00 2C 20 02 04 00 23 40 C8 73 F7 08", offset=16, setnames=[ "sf2j", "sf2jh", "sf2uh" ] },
	{ data="20 42 FF FF FF FF 2C 2A 28 26 24 36 00 22 02 04 08 00 23 40 C8 73 F7 08", offset=16, setnames=[ "sf2jc", "sf2uc" ] },
	{ data="0E 45 FF FF FF FF 02 04 06 08 0A 36 00 0C 04 02 20 00 23 40 C8 73 F7 08", offset=16, setnames=[ "sf2jf", "sf2uf" ] },
	{ data="FF FF FF FF FF FF 14 12 10 0E 0C 00 00 0A 0E 0E 0E 30 1F 40 C8 73 F7 09", offset=16, setnames=[ "sf2level", "sf2m3", "sf2re" ] },
	{ data="1E 44 FF FF FF FF 12 14 16 18 1A 36 00 1C 08 20 10 00 23 40 C8 73 F7 08", offset=16, setnames=[ "sf2qp2", "sf2ui" ] },
	{ data="32 41 FF FF FF FF 26 28 2A 2C 2E 36 00 30 08 10 20 00 1F 40 C8 73 F7 08", offset=16, setnames=[ "sf2wwce" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 36 30 30 02 04 08 30 20 00 00 FF FF 11", offset=16, setnames=[ "sfach", "sfzbch", "sfzch" ] },
	{ data="FF 00 FF FF FF FF 26 28 2A 2C 2E 00 00 30 02 04 08 30 22 40 88 73 FF 00", offset=16, setnames=[ "strider", "strider", "striderua" ] },
	{ data="FF 00 FF FF FF FF 26 28 2A 2C 2E 00 00 30 02 04 08 30 21 20 64 31 33 00", offset=16, setnames=[ "striderj" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 00 00 30 02 04 08 30 22 40 88 73 FF 01", offset=16, setnames=[ "striderjr" ] },
	{ data="08 47 FF FF FF FF 14 12 10 0E 0C 00 00 0A 08 14 02 00 22 40 88 73 FF 00", offset=16, setnames=[ "strideruc" ] },
	{ data="32 41 FF FF FF FF 26 28 2A 2C 2E 00 00 30 08 10 20 00 01 40 44 F3 FF 00", offset=16, setnames=[ "unsquad" ] },
	{ data="20 04 FF FF FF FF 2E 26 30 28 32 00 00 2A 02 04 08 00 28 40 44 F3 FF 01", offset=16, setnames=[ "varth", "varthr1", "varthu" ] },
	{ data="32 FF 0E 0C 0A 08 20 2E 2C 2A 28 00 00 30 20 04 02 00 27 20 44 31 FF 01", offset=16, setnames=[ "varthj" ] },
	{ data="32 FF 0E 0C 0A 08 20 2E 2C 2A 28 00 00 30 20 04 02 00 28 40 44 F3 FF 01", offset=16, setnames=[ "varthjr" ] },
	{ data="FF 00 FF FF FF FF 30 2E 2C 2A 28 00 00 26 20 10 08 00 29 40 88 73 FF 00", offset=16, setnames=[ "willow", "willowj", "willowu", "willowuo" ] },
	{ data="32 FF 00 02 04 06 26 28 2A 2C 2E 36 00 30 02 04 08 30 25 40 88 73 FF 03", offset=16, setnames=[ "wofhfh" ] },
	{ data="32 80 0E 0C 0A 08 28 26 24 22 20 00 00 30 20 04 08 12 1C 20 64 31 33 00", offset=16, setnames=[ "wonder3" ] },
    # Special controls
    { machine="mpumpkin", offset=40, data="FE" },
]
