[global]
author=["jotego"]

[features]
# qsound=true
# debug=true

[parse]
sourcefile=[ "shaolins.cpp" ]
skip.setname="shaolinb"     # corrupted sprites
[buttons]
names=[
    { names="Kick,Jump" }
]

[Audio]
volume = [
    { machine="kicker", value=0xE3 },
]

[dipsw]
delete=[{names=["Unused","Unknown"]}]
rename = [ {name="Bonus Life", to="Bonus"} ]
# base = 16

[ROM]
regions = [
    { name="maincpu" },
    { name="tiles", width=16, no_offset=true }, # start=$GFX1_START
    { name="sprites", width=16, no_offset=true, start="OBJ_START" },
    { name="proms"   },
]
# { name="myregion", reorder=[3,2,1,0] } # reorder files inside a region
order = [
    "maincpu", "tiles", "sprites", "proms"
]

patches = [
    { setname="kicker", offset=0x58c6, data="3d 3d" }
]

