ver/*/core.mod
ver/*/framerate
ver/*/frames/
ver/*/jt12.raw
ver/*/*_game_sdram.v
ver/*/mem_ports.inc
ver/*/mist_dump.v
ver/*/obj_dir/
ver/*/rom.bin
ver/*/sdram.old/
ver/*/sdram_bank*.bin
ver/*/sdram_bank*.hex
ver/*/sim_inputs.hex
ver/*/shim/
ver/*/test.wav
ver/*/test.cpp
ver/*/sdram.cpp
ver/*/sdram.h
ver/*/wavewritter.cpp
ver/*/wavewritter.h
