# This file is part of JT_GNG.
# JT_GNG program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# JT_GNG program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with JT_GNG.  If not, see <http://www.gnu.org/licenses/>.
# 
# Author: Jose Tejada Gomez. Twitter: @topapate
# Version: 1.0
# Date: 8-2-2019 

# Clocks & debug
NET "CLOCK_50"        LOC="P55"  | IOSTANDARD = LVCMOS33;
NET "LED"             LOC="P11"  | IOSTANDARD = LVCMOS33;

# Video output
NET "VGALOW_R<2>"     LOC="P81"  | IOSTANDARD = LVCMOS33;
NET "VGALOW_R<1>"     LOC="P80"  | IOSTANDARD = LVCMOS33;
NET "VGALOW_R<0>"     LOC="P79"  | IOSTANDARD = LVCMOS33;
NET "VGALOW_G<2>"     LOC="P84"  | IOSTANDARD = LVCMOS33;
NET "VGALOW_G<1>"     LOC="P83"  | IOSTANDARD = LVCMOS33;
NET "VGALOW_G<0>"     LOC="P82"  | IOSTANDARD = LVCMOS33;
NET "VGALOW_B<2>"     LOC="P93"  | IOSTANDARD = LVCMOS33;
NET "VGALOW_B<1>"     LOC="P92"  | IOSTANDARD = LVCMOS33;
NET "VGALOW_B<0>"     LOC="P88"  | IOSTANDARD = LVCMOS33;
NET "VGALOW_HS"       LOC="P87"  | IOSTANDARD = LVCMOS33;
NET "VGALOW_VS"       LOC="P85"  | IOSTANDARD = LVCMOS33;
NET "STDN"            LOC="P66"  | IOSTANDARD = LVCMOS33;
NET "STDNB"           LOC="P67"  | IOSTANDARD = LVCMOS33;

# 6-bit video output
NET "VGA_R<5>"          LOC="P51"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_R<4>"          LOC="P50"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_R<3>"          LOC="P47"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_R<2>"          LOC="P46"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_R<1>"          LOC="P44"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_R<0>"          LOC="P43"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;

NET "VGA_G<5>"          LOC="P40"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_G<4>"          LOC="P35"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_G<3>"          LOC="P33"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_G<2>"          LOC="P32"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_G<1>"          LOC="P29"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_G<0>"          LOC="P27"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;

NET "VGA_B<5>"          LOC="P23"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_B<4>"          LOC="P17"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_B<3>"          LOC="P24"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_B<2>"          LOC="P21"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_B<1>"          LOC="P14"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_B<0>"          LOC="P15"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;

NET "VGA_HS"            LOC="P57"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET "VGA_VS"            LOC="P58"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;


# Sound input/output
NET "AUDIO_L"         LOC="P10"  | IOSTANDARD = LVCMOS33;
NET "AUDIO_R"         LOC="P9"   | IOSTANDARD = LVCMOS33;
# NET "ear"             LOC="P94"  | IOSTANDARD = LVCMOS33;

# Keyboard and mouse
NET "PS2_KBD_CLK"     LOC="P99"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "PS2_KBD_DATA"    LOC="P98"  | IOSTANDARD = LVCMOS33 | PULLUP;
# NET "mouseclk"        LOC="P95"  | IOSTANDARD = LVCMOS33 | PULLUP;
# NET "mousedata"       LOC="P97"  | IOSTANDARD = LVCMOS33 | PULLUP;

# SRAM
NET "SRAM_ADDR<0>"    LOC="P141" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<1>"    LOC="P139" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<2>"    LOC="P137" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<3>"    LOC="P134" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<4>"    LOC="P133" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<5>"    LOC="P120" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<6>"    LOC="P118" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<7>"    LOC="P116" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<8>"    LOC="P114" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<9>"    LOC="P112" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<10>"   LOC="P104" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<11>"   LOC="P102" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<12>"   LOC="P101" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<13>"   LOC="P100" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<14>"   LOC="P111" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<15>"   LOC="P131" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<16>"   LOC="P138" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<17>"   LOC="P140" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<18>"   LOC="P142" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<19>"   LOC="P105" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<20>"   LOC="P143" | IOSTANDARD = LVCMOS33;

NET "SRAM_DATA<0>"    LOC="P132" | IOSTANDARD = LVCMOS33;
NET "SRAM_DATA<1>"    LOC="P127" | IOSTANDARD = LVCMOS33;
NET "SRAM_DATA<2>"    LOC="P124" | IOSTANDARD = LVCMOS33;
NET "SRAM_DATA<3>"    LOC="P123" | IOSTANDARD = LVCMOS33;
NET "SRAM_DATA<4>"    LOC="P115" | IOSTANDARD = LVCMOS33;
NET "SRAM_DATA<5>"    LOC="P117" | IOSTANDARD = LVCMOS33;
NET "SRAM_DATA<6>"    LOC="P119" | IOSTANDARD = LVCMOS33;
NET "SRAM_DATA<7>"    LOC="P126" | IOSTANDARD = LVCMOS33;

NET "SRAM_WE_N"       LOC="P121" | IOSTANDARD = LVCMOS33;

# SPI Flash
NET "FLASH_CS_N"      LOC="P38"  | IOSTANDARD = LVCMOS33;
NET "FLASH_CLK"       LOC="P70"  | IOSTANDARD = LVCMOS33;
NET "FLASH_MOSI"      LOC="P64"  | IOSTANDARD = LVCMOS33;
NET "FLASH_MISO"      LOC="P65"  | IOSTANDARD = LVCMOS33;
NET "FLASH_WP"        LOC="P62"  | IOSTANDARD = LVCMOS33;
NET "FLASH_HOLD"      LOC="P61"  | IOSTANDARD = LVCMOS33;

# SD/MMC
# NET "sd_cs_n"         LOC="P59"  | IOSTANDARD = LVCMOS33;
# NET "sd_clk"          LOC="P75"  | IOSTANDARD = LVCMOS33;
# NET "sd_mosi"         LOC="P74"  | IOSTANDARD = LVCMOS33;
# NET "sd_miso"         LOC="P78"  | IOSTANDARD = LVCMOS33;

# JOYSTICK
NET "JOYSTICK<0>"     LOC="P7"   | IOSTANDARD = LVCMOS33 | PULLUP; # RIGHT
NET "JOYSTICK<1>"     LOC="P6"   | IOSTANDARD = LVCMOS33 | PULLUP; # LEFT
NET "JOYSTICK<2>"     LOC="P5"   | IOSTANDARD = LVCMOS33 | PULLUP; # DOWN
NET "JOYSTICK<3>"     LOC="P1"   | IOSTANDARD = LVCMOS33 | PULLUP; # UP
NET "JOYSTICK<4>"     LOC="P2"   | IOSTANDARD = LVCMOS33 | PULLUP; # FIRE 1
NET "JOYSTICK<5>"     LOC="P8"   | IOSTANDARD = LVCMOS33 | PULLUP; # FIRE 2
#NET "joyfire3"        LOC="P39"  | IOSTANDARD = LVCMOS33 | PULLUP;

