[global]
author=["jotego"]

[parse]
# this was moved to tmnt2.cpp after MAME 0.251
sourcefile=[ "xmen.cpp" ]
skip = { bootlegs=true, setnames=[
    # dual screen not supported
    "xmen6p", "xmen6pu",
]}

[buttons]
names = [
    { machine="xmen",     names="Attack,Jump,Mutant Power" },
]

[header]
info="Offsets for each ROM region. Byte 15 = game selection."
data = [
	{ machine="xmen",     offset=15, data="02" },
]
offset = { bits=12, reverse=true, regions=["maincpu","audiocpu","k052109", "obj"] }

[ROM]
regions = [
    { name="maincpu", width=16, reverse=true  },

    { name="audiocpu"  },
    { name="k054539", rename="pcm", machines=[ "xmen" ] },

    { name="k052109", width=32 }, # tiles
    # sprites
    { name="k053246", width=64, rename="obj"},
    { name="eeprom", skip=true }
]

order=["maincpu","audiocpu","pcm","k052109","obj"]

patches=[
	# skip the very long wait after the memory check
	{setname="xmen",offset=0x21b0,data="71 4E 71 4E"},
	{setname="xmen",offset=0x21c6,data="71 4E 71 4E 71 4E"},
]

# default configuration to prevent from boot-up error
nvram={	Defaults=[
	{ setname="xmenj", data="""\
	02 2F FD D0 02 03 00 01 03 00 00 17 00 00 00 00
	00 00 00 00 00 00 00 00 11 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmen6p", data="""\
	02 6F FD 90 02 03 00 01 03 00 00 17 00 01 00 00
	00 00 00 00 00 00 00 00 50 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmenaa", data="""\
	02 50 FD AF 02 03 00 00 03 00 00 17 00 01 00 00
	00 00 00 00 00 00 00 00 32 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmen6pu", data="""\
	02 5B FD A4 02 03 00 01 03 00 00 14 00 00 00 00
	00 00 00 00 00 00 00 00 40 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmena", data="""\
	02 51 FD AE 02 03 00 00 03 00 00 17 00 01 00 00
	00 00 00 00 00 00 00 00 33 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmenja", data="""\
	02 30 FD CF 02 03 00 00 03 00 00 17 00 00 00 00
	00 00 00 00 00 00 00 00 13 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmenu", data="""\
	02 5C FD A3 02 03 00 01 03 00 00 14 00 00 00 00
	00 00 00 00 00 00 00 00 41 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmen2pu", data="""\
	02 5E FD A1 02 03 00 00 03 00 00 14 00 00 00 00
	00 00 00 00 00 00 00 00 44 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmen", data="""\
	02 40 FD BF 02 03 00 01 03 00 00 17 00 01 00 00
	00 00 00 00 00 00 00 00 21 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmen2pe", data="""\
	02 42 FD BD 02 03 00 00 03 00 00 17 00 01 00 00
	00 00 00 00 00 00 00 00 24 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmen2pa", data="""\
	02 52 FD AD 02 03 00 00 03 00 00 17 00 01 00 00
	00 00 00 00 00 00 00 00 34 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmen2pj", data="""\
	02 31 FD CE 02 03 00 00 03 00 00 17 00 00 00 00
	00 00 00 00 00 00 00 00 14 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
	{ setname="xmenua", data="""\
	02 5D FD A2 02 03 00 00 03 00 00 14 00 00 00 00
	00 00 00 00 00 00 00 00 43 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
	00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00"""},
] }

