NET "CLK_50MHZ" LOC = P55;
NET "CLK_50MHZ" IOSTANDARD = LVCMOS33;
NET "CLK_50MHZ" CLOCK_DEDICATED_ROUTE = FALSE;

NET "VGA_R[0]" LOC = P79;
NET "VGA_R[0]" IOSTANDARD = LVCMOS33;
NET "VGA_R[1]" LOC = P80;
NET "VGA_R[1]" IOSTANDARD = LVCMOS33;
NET "VGA_R[2]" LOC = P81;
NET "VGA_R[2]" IOSTANDARD = LVCMOS33;
NET "VGA_G[0]" LOC = P82;
NET "VGA_G[0]" IOSTANDARD = LVCMOS33;
NET "VGA_G[1]" LOC = P83;
NET "VGA_G[1]" IOSTANDARD = LVCMOS33;
NET "VGA_G[2]" LOC = P84;
NET "VGA_G[2]" IOSTANDARD = LVCMOS33;
NET "VGA_B[0]" LOC = P88;
NET "VGA_B[0]" IOSTANDARD = LVCMOS33;
NET "VGA_B[1]" LOC = P92;
NET "VGA_B[1]" IOSTANDARD = LVCMOS33;
NET "VGA_B[2]" LOC = P93;
NET "VGA_B[2]" IOSTANDARD = LVCMOS33;

NET "VGA_VSYNC" LOC = P85;
NET "VGA_VSYNC" IOSTANDARD = LVCMOS33;
NET "VGA_HSYNC" LOC = P87;
NET "VGA_HSYNC" IOSTANDARD = LVCMOS33;

NET "LED" LOC = P11;
NET "LED" IOSTANDARD = LVCMOS33;

NET "AUDIO_L" LOC = P10;
NET "AUDIO_L" IOSTANDARD = LVCMOS33;
NET "AUDIO_R" LOC = P9;
NET "AUDIO_R" IOSTANDARD = LVCMOS33;

NET "SRAM_A<0>"  LOC="P141" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<1>"  LOC="P139" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<2>"  LOC="P137" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<3>"  LOC="P134" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<4>"  LOC="P133" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<5>"  LOC="P120" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<6>"  LOC="P118" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<7>"  LOC="P116" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<8>"  LOC="P114" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<9>"  LOC="P112" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<10>" LOC="P104" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<11>" LOC="P102" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<12>" LOC="P101" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<13>" LOC="P100" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<14>" LOC="P111" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<15>" LOC="P131" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<16>" LOC="P138" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<17>" LOC="P140" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<18>" LOC="P142" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<19>" LOC="P105" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<20>" LOC="P143" | IOSTANDARD = LVCMOS33;

NET "SRAM_D<0>" LOC="P132" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<1>" LOC="P127" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<2>" LOC="P124" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<3>" LOC="P123" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<4>" LOC="P115" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<5>" LOC="P117" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<6>" LOC="P119" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<7>" LOC="P126" | IOSTANDARD = LVCMOS33;

NET "SRAM_WE_n"  LOC="P121" | IOSTANDARD=LVCMOS33 | SLEW=FAST;

# SRAM EXPANSION
#NET "SRAM_EXT_A<0>"  LOC="P58" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<1>"  LOC="P56" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<2>"  LOC="P57" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<3>"  LOC="P51" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<4>"  LOC="P48" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<5>"  LOC="P40" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<6>"  LOC="P35" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<7>"  LOC="P15" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<8>"  LOC="P12" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<9>"  LOC="P14" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<10>"  LOC="P16" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<11>"  LOC="P21" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<12>"  LOC="P23" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<13>"  LOC="P22" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<14>"  LOC="P24" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<15>"  LOC="P30" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<16>"  LOC="P33" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<17>"  LOC="P34" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<18>"  LOC="P43" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<19>"  LOC="P17" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_A<20>"  LOC="P44" | IOSTANDARD = LVCMOS33;

#NET "SRAM_EXT_D<0>"  LOC="P50" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_D<1>"  LOC="P47" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_D<2>"  LOC="P45" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_D<3>"  LOC="P46" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_D<4>"  LOC="P27" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_D<5>"  LOC="P26" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_D<6>"  LOC="P29" | IOSTANDARD = LVCMOS33;
#NET "SRAM_EXT_D<7>"  LOC="P32" | IOSTANDARD = LVCMOS33;

#NET "SRAM_EXT_WE_n"  LOC="P41" | IOSTANDARD = LVCMOS33;

NET "P_A" LOC = P8;
NET "P_A" IOSTANDARD = LVCMOS33;
NET "P_A" PULLUP;
NET "P_D" LOC = P5;
NET "P_D" IOSTANDARD = LVCMOS33;
NET "P_D" PULLUP;
NET "P_L" LOC = P6;
NET "P_L" IOSTANDARD = LVCMOS33;
NET "P_L" PULLUP;
NET "P_R" LOC = P7;
NET "P_R" IOSTANDARD = LVCMOS33;
NET "P_R" PULLUP;
NET "P_U" LOC = P1;
NET "P_U" IOSTANDARD = LVCMOS33;
NET "P_U" PULLUP;
NET "P_tr" LOC = P2;
NET "P_tr" IOSTANDARD = LVCMOS33;
NET "P_tr" PULLUP;


NET "PS2CLKA" LOC = P99;
NET "PS2CLKA" IOSTANDARD = LVCMOS33;
NET "PS2CLKA" PULLUP;
NET "PS2DATA" LOC = P98;
NET "PS2DATA" IOSTANDARD = LVCMOS33;
NET "PS2DATA" PULLUP;
NET "PS2CLKB" LOC = P95;
NET "PS2CLKB" IOSTANDARD = LVCMOS33;
NET "PS2CLKB" PULLUP;
NET "PS2DATB" LOC = P97;
NET "PS2DATB" IOSTANDARD = LVCMOS33;
NET "PS2DATB" PULLUP;


NET "SD_DI" LOC = P74;
NET "SD_DI" IOSTANDARD = LVCMOS33;
NET "SD_DI" DRIVE = 8;
NET "SD_DI" SLEW = FAST;
NET "SD_DO" LOC = P78;
NET "SD_DO" IOSTANDARD = LVCMOS33;
NET "SD_DO" DRIVE = 8;
NET "SD_DO" SLEW = FAST;
NET "SD_CK" LOC = P75;
NET "SD_CK" IOSTANDARD = LVCMOS33;
NET "SD_CK" DRIVE = 8;
NET "SD_CK" SLEW = FAST;
NET "SD_nCS" LOC = P59;
NET "SD_nCS" IOSTANDARD = LVCMOS33;
NET "SD_nCS" DRIVE = 8;
NET "SD_nCS" SLEW = FAST;

NET dVGA_R(5)             LOC="P51"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_R(4)             LOC="P50"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_R(3)             LOC="P47"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_R(2)             LOC="P46"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_R(1)             LOC="P44"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_R(0)             LOC="P43"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_G(5)             LOC="P40"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_G(4)             LOC="P35"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_G(3)             LOC="P33"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_G(2)             LOC="P32"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_G(1)             LOC="P29"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_G(0)             LOC="P27"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_B(5)             LOC="P23"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_B(4)             LOC="P17"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_B(3)             LOC="P24"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_B(2)             LOC="P21"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_B(1)             LOC="P14"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_B(0)             LOC="P15"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_HSYNC            LOC="P57"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET dVGA_VSYNC            LOC="P58"  | IOSTANDARD = LVCMOS33 | DRIVE=2 | SLEW=SLOW;

#NET "PAL" LOC = P67;
#NET "PAL" IOSTANDARD = LVCMOS33;
#NET "NTSC" LOC = P66;
#NET "NTSC" IOSTANDARD = LVCMOS33;


#DEBUG
#NET "sseg_an[0]" LOC = P11   | IOSTANDARD=LVCMOS33;
#NET "sseg_an[1]" LOC = P16   | IOSTANDARD=LVCMOS33;
#NET "sseg_an[2]" LOC = P58   | IOSTANDARD=LVCMOS33;
#NET "sseg_an[3]" LOC = P51   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[3]" LOC = P44   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[0]" LOC = P40   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[1]" LOC = P21   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[2]" LOC = P33   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[4]" LOC = P47   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[5]" LOC = P24   | IOSTANDARD=LVCMOS33;
#NET "sseg_a_to_dp[6]" LOC = P29   | IOSTANDARD=LVCMOS33;
#NET "reset" LOC = P56   | IOSTANDARD=LVCMOS33;
#NET "set" LOC = P48   | IOSTANDARD=LVCMOS33;