[global]
mraauthor=["jotego"]

[parse]
sourcefile="1942.cpp"
skip.setnames=["1942abl","1942p"]

[buttons]
names=[
    { names="Shoot,Roll" }
]

[ROM]
regions=[
    { name="maincpu", no_offset=true, sequence=[0,1,2,3,3,4] },
    { name="audiocpu", start="JTFRAME_BA1_START" },
    { name="gfx1", start="JTFRAME_BA2_START", reverse=true },
    { name="gfx3", width=16, sequence=[2,0,3,1] },
    { name="gfx2", width=32, sequence=[0,2,4,4,1,3,5,5], start="JTFRAME_BA3_START" },
    { name="palproms", start="JTFRAME_PROM_START" },
]

order=["maincpu","audiocpu","gfx1", "gfx3", "gfx2",
    "palproms",
    "charprom","tileprom", "sprprom", "proms"
]