[parse]
sourcefile=[ "segas18.cpp" ]

debug = { machines=[
    # VDP priority bad
    "lghost",    # light gun aim position a bit off
    "hamaway",
    "desertbr",
    # bad tile mapping
    "wwallyj",
    "ddcrew",
]}
skip.bootlegs=true
# incomplete machine description in MAME
skip.machine="pontoon"

[Audio]
volume = [
    { machine="astorm", value=0x60 },
    { machine="bloxeed", value=0xA7 },
    { machine="cltchitr", value=0x68 },
    { machine="ddcrew", value=0x7F },
    { machine="desertbr", value=0x40 },
    { machine="hamaway", value=0x51 },
    { machine="mwalk", value=0x7B },
    { machine="wwallyj", value=0x6E },
]

[buttons]
names = [
    { machine="astorm",     names="Attack,Roll,Special" },
    { machine="bloxeed",    names="Change Direction Block" },
    { machine="cltchitr",   names="Checkmate/Advance Base,Bunt/Timeout,Pitching/Swing Bat" },
    { machine="ddcrew",     names="Attack,Jump" },
    { machine="desertbr",   names="Shot,Speed Run,Bomb" },
    { machine="hamaway",    names="Land Shot,Air Shot with Missile,Bomb" },
    { machine="lghost",     names="Laser Gun,Special Weapon" },
    { machine="mwalk",      names="Shot,Dance" },
    { machine="shdancer",   names="Attack,Jump,Ninja Magic" },
    { machine="wwallyj",    names="Confirm" },
]

[DIPSW]
Delete=[
    { Names=["Unused"] },
    # too long
    { Names=["Credits needed", "Game Time P1", "Game Time P2"] },
]

[header]
# follows the same structure as JTS16's
offset = { bits=12, reverse=true, regions=["maincpu","soundcpu","tiles", "sprites", "maincpu:key", "mcu"] }

data = [
    { offset=0x10, dev="fd1089a", data="01" },
    { offset=0x10, dev="fd1089b", data="02" },
    { offset=0x11, dev="fd1094",  data="01" },
    { offset=0x12, dev="mc8123",  data="01" },
    { offset=0x13, dev="i8751",   data="01" },
    # special controls
    { offset=0x14, setnames=["astorm3","astormu"], data="01" },

    # 5874 board
    { machines=["astorm", "bloxeed", "pontoon"],  offset=0x18, data="01" },
    { machine="mwalk",    offset=0x18, data="41" },
    { setname="mwalku",   offset=0x18, data="c1" },
    # 5987 board
    # ddcrewu, ddcrew1, ddcrewj might be different
    # wwally's machine may be in a different MAME file, not segas18
    { machines=["desertbr"], offset=0x18, data="02" }, # 5987 with 2MB ROM
    { machines=["cltchitr", "ddcrew", "wwallyj"], offset=0x18, data="04" },
    # single-game boards
    { machine="hamaway",  offset=0x18, data="08" }, # 837-7525
    { machine="lghost",   offset=0x18, data="10" }, # 171-5873B
    { machine="shdancer", offset=0x18, data="20" }, # 837-7248-01
]

[ROM]
regions = [
    { name="maincpu", width=16, reverse=true },
    { name="soundcpu", len=0x200000 },
    { name="tiles",   sequence=[0,1,2,2], width=32 },
    # ROM order might be wrong for hamaway tiles
    { name="tiles",       frac={ bytes=1, parts=4}, sequence=[0,2,4,4,1,3,5,5], len=0x200000, machine="hamaway"},
    { name="sprites",     width=16, reverse=true },
    { name="maincpu:key" },
    { name="mcu"         },
]

order=["maincpu","soundcpu","tiles", "sprites", "maincpu:key", "mcu"]
