[parse]
sourcefile=[ "segas18.cpp" ]

debug = { machines=[
    # gun input missing
    "lghost",
    # requires VDP
    "astorm",   # some sprites are not visible
    "cltchitr", # boots up to hang up soon after with no VDP
    "hamaway",  # boots up to hang up soon after with no VDP
    "ddcrew",   # does not boot
    "desertbr", # does not boot
    "wwallyj",  # does not boot
    # MCU (enable it in macros.def)
    "mwalk",    # does not boot
    # incomplete machine description in MAME
    "pontoon",
]}
skip.bootlegs=true

[buttons]
names = [
    { machine="astorm",     names="Roll,Attack,Special" },
    { machine="bloxeed",    names="Change Direction Block" },
    { machine="cltchitr",   names="Checkmate/Advance Base,Bunt/Timeout,Pitching/Swing Bat" },
    { machine="ddcrew",     names="Jump,Attack" },
    { machine="desertbr",   names="Speed Run,Shot,Bomb" },
    { machine="hamaway",    names="Land Shot,Air Shot with Missile,Bomb" },
    { machine="lghost",     names="Laser Gun,Special Weapon" },
    { machine="mwalk",      names="Dance with Bomb,Shot" },
    { machine="shdancer",   names="Jump,Attack,Magic with Bomb" },
    { machine="wwallyj",    names="Confirm" },
]

[DIPSW]
Delete=[
    { Names=["Unused"] },
    # too long
    { Names=["Credits needed", "Game Time P1", "Game Time P2"] },
]

[header]
# follows the same structure as JTS16's
data = [
    { offset=0x10, dev="fd1089a", data="01" },
    { offset=0x10, dev="fd1089b", data="02" },
    { offset=0x11, dev="fd1094",  data="01" },
    { offset=0x12, dev="mc8123",  data="01" },
    { offset=0x13, dev="i8751",   data="01" },

    # 5874 board
    { machines=["astorm", "bloxeed", "mwalk", "pontoon"],  offset=0x18, data="01" },
    # 5987 board
    # ddcrewu, ddcrew1, ddcrewj might be different
    # wwally's machine may be in a different MAME file, not segas18
    { machines=["cltchitr", "desertbr", "ddcrew", "wwally"], offset=0x18, data="04" },
    # single-game boards
    { machine="hamaway",  offset=0x18, data="08" }, # 837-7525
    { machine="lghost",   offset=0x18, data="10" }, # 171-5873B
    { machine="shdancer", offset=0x18, data="20" }, # 837-7248-01
]

[ROM]
regions = [
    { name="maincpu", width=16, reverse=true },
    { name="soundcpu",    start="JTFRAME_BA1_START" },
    { name="tiles",       start="JTFRAME_BA2_START", sequence=[0,1,2,2], width=32 },
    # ROM order might be wrong for hamaway tiles
    { name="tiles",       start="JTFRAME_BA2_START", frac={ bytes=1, parts=4}, sequence=[0,2,4,4,1,3,5,5], len=0x200000, machine="hamaway"},
    { name="sprites",     start="JTFRAME_BA3_START", width=16, reverse=true },
    { name="maincpu:key", start="JTFRAME_PROM_START" },
    { name="mcu",         start="MCU_START" },
]

order=["maincpu","soundcpu","tiles", "sprites", "maincpu:key", "mcu"]
