[global]
author=["jotego"]

[cheat]
enable=true
files=[
    { skip=true },
    { machine="hbarrel",asmfile="hbarrel.s"}
]

[parse]
sourcefile=[ "dec0.cpp" ]
skip.bootlegs=true
mustbe.machines=[
    "baddudes",
    "hbarrel",
    # "birdtry",
]

[Audio]
volume = [
    { machine="baddudesl", value=0xFF },
    { machine="hbarrel", value=0xFF },
]

[buttons]
Names = [
    { machine="baddudes", names="Attack,Jump"},
    # No button names in the manual:
    { machine="hbarrel",  names="Shot,Bomb,Turn left,Turn right"},
]


[dipsw]
bitcnt = 16
base = 17
delete=[{names=["Unused","Unknown"]}]
rename = [
    { name="Enemy Power Decrease on Continue", to="Player strenght"},
    { name="Control Panel Type", to="Panel" },
    { name="Player & Enemy Energy", to="Energy scale"},
    { name="L/R control related (keep off)", to="Unknown" }
]

[ROM]
regions = [
    { name="maincpu",  width=16, reverse=true },
    { name="audiocpu", start="SND_START", no_offset=true  },
    { name="oki",      start="PCM_START" },

    # GFX1
    { name="char",     start="JTFRAME_BA2_START", width=16, no_offset=true },

    # GFX2
    { name="tiles1",   start="GFX2_START",width=16, no_offset=true, sort_even=true},
    { name="tiles1",   start="GFX2_START",width=16, no_offset=true, sequence=[
    0,4,1,5,2,6,3,7], sort_even=true, machine="hbarrel" },

    # GFX3
    { name="tiles2",   start="GFX3_START", width=16, sequence=[3,1,2,0]  },
    { name="tiles2",   start="GFX3_START", width=16, sequence=[1,3,0,2], machine="hbarrel"  },
    # { name="tiles2",   machine="birdtry", skip=true  },

    { name="sprites",  start="JTFRAME_BA3_START", width=32, no_offset=true, sort_even=true },
    { name="sub",      skip=true },
    { name="mcu",      start="MCU_START" },
    { name="proms",    start="PROM_START" },
    { name="plds",     skip=true         }
]

order = [
    "maincpu", "audiocpu", "oki",
    "char", "tiles1", "tiles2", "sprites", "mcu", "proms"
]

splits = [
    { machine="baddudes", region="char", offset=0x10000 },
    { machine="baddudes", region="tiles2", offset=0x8000 },
    # { machine="birdtry",  region="char", offset=0x4000, min_len=0x10000 }
]

blanks = [
    { machine="baddudes", region="tiles1", offset=0x20000, len=0x20000 },
]

