[global]
mraauthor=["jotego"]

[parse]
sourcefile="mitchell.cpp"
skip.setnames = [
    "mstworld", "mstworld2",
    "spangbl","spangbl2",
    "pangba","pangbb","pangbc",
    # control problems
    "pkladies", "mgakuen2",
    # wrong obj shown
    "hatena", "marukin",
    # Missing ROM
    "dokaben2",
    # Not booting
    "blockbl", "qtono1", "qsangoku"
]

[header]
data = [
    # Kabuki codes
    { machine="cworld",   pointer=0, data="04 15 26 37 40 51 62 73 57 51 43" },
    { machine="pang",     pointer=0, data="01 23 45 67 76 54 32 10 65 48 24" },
    { machine="hatena",   pointer=0, data="45 67 01 23 45 67 01 23 57 51 43" },
    { machine="spang",    pointer=0, data="45 67 01 23 45 67 01 23 58 52 43" },
    # keep these two below spang
    { setname="spangj",   pointer=0, data="45 12 36 70 67 01 23 45 55 aa 5a" },
    { setname="sbbros",   pointer=0, data="45 67 01 23 45 67 01 23 21 30 12" },


    { machine="dokaben",  pointer=0, data="76 54 32 10 01 23 45 67 aa 55 a5" },
    { machine="dokaben2", pointer=0, data="76 54 32 10 01 23 45 67 aa 55 a5" },
    { machine="pkladies", pointer=0, data="76 54 32 10 01 23 45 67 aa 55 a5" },
    { machine="marukin",  pointer=0, data="54 32 10 76 54 32 10 76 48 54 4f" },
    { machine="mgakuen2", pointer=0, data="76 54 32 10 01 23 45 67 aa 55 a5" },


    { machine="qtono1",   pointer=0, data="12 34 56 70 12 34 56 70 11 11 11" },
    { machine="qsangoku", pointer=0, data="23 45 67 01 23 45 67 01 18 28 18" },
    { machine="block",    pointer=0, data="02 46 13 57 64 20 75 31 00 02 01" },
    # GFX encoding
    { machine="marukin",  pointer=14, data="01" },
    # Input type
    { setname="blockbl",   pointer=15, data="01" },
    { setname="blockj",   pointer=15, data="01" },
    { setname="blockr1",   pointer=15, data="01" },
    { setname="blockr2",   pointer=15, data="01" },
    { setname="block",   pointer=15, data="03" },
    { machine="qtono1",  pointer=15, data="02" },
    { machine="cworld",  pointer=15, data="02" }
]

[dipsw]
bitcnt = 16
delete = [ "Unused", "Unknown" ]

[ROM]
regions = [
    { name="maincpu",  No_offset=true   },
    { name="oki", No_offset=true, start="PCM_START" },

    { name="chars", start="CHAR_START", width=16, No_offset=true, sort_even=true },
    { machine="pkladies", name="chars", width=16, start="CHAR_START", No_offset=true },
    { machine="mgakuen2", name="chars", start="CHAR_START", No_offset=true },
    { machine="marukin", name="chars", start="CHAR_START", No_offset=true },
    { machine="cworld", name="chars", width=16, start="CHAR_START", No_offset=true, name_sort=[
        "cw08.bin", "cw18.bin", "cw09.bin", "cw19.bin", "cw10.bin", "cw20.bin",
        "cw11.bin", "cw21.bin"] },
    { name="sprites", start="OBJ_START", width=16, No_offset=true, sort_even=true },
    { name="eeprom", eeprom=true },
# Unused
    { name="plds", skip=true },
    { name="pals", skip=true },
]

order = [
    "maincpu", "oki", "chars", "sprites", "eeprom"
]
