name: Check Beta Keys

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  check-beta-keys:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install yq
        uses: mikefarah/yq@v4

      - name: Run beta keys check
        run: |
          source setprj.sh
          beta-checks.sh
