name: Compile all cores

on:
  workflow_dispatch:

  repository_dispatch:
    types: rebuild

jobs:
  list_cores:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    outputs:
      cores: ${{ steps.generate-matrix.outputs.cores }}
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
        token: ${{ secrets.PAT }}
    - id: generate-matrix
      run: |
        cd cores
        # Get list of cores ready for compilation
        CORES='['
        for i in *; do
          if [[ -e $i/cfg/macros.def && ! -e $i/cfg/skip ]]; then
            if [ "$CORES" != '[' ]; then CORES="$CORES, "; fi
            CORES="$CORES \"$i\""
          fi
        done
        CORES="$CORES ]"
        echo $CORES
        echo "cores=${CORES}" >> $GITHUB_OUTPUT

  compile_cores13:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container:
      image: jotego/jtcore13
    needs:
      - list_cores
    strategy:
      fail-fast: false
      matrix:
        core: ${{ fromJSON(needs.list_cores.outputs.cores) }}
        target: [ sidi, mist, pocket ]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          token: ${{ secrets.PAT }}
      - id: compile
        run: |
          # Compilation on Quartus 13
          export PATH=$PATH:/usr/local/go/bin:/opt/altera/13.1/quartus/bin
          git config --global --add safe.directory .
          ./setprj.sh jtseed 10 ${{ matrix.core }} --target ${{matrix.target}} --nodbg -d JTFRAME_UNLOCKKEY==${{ secrets.BETAKEY }}
      - id: upload
        uses: actions/upload-artifact@v3
        with:
          name: jtcores
          path: release

  compile_cores17:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    needs:
      - list_cores
    strategy:
      fail-fast: false
      matrix:
        core: ${{ fromJSON(needs.list_cores.outputs.cores) }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          token: ${{ secrets.PAT }}
      - id: submodules
        run: |
          git config --global --add safe.directory /__w/jtcores/jtcores
          git submodule init
          git submodule update --depth 1
          cd modules
          cd jt12
          git submodule init
          git submodule update --depth 1
          cd ../..
      - id: compile
        run: |
          # Compilation on Quartus 17
          docker run --network host -v `pwd`:/jtcores jotego/jtcore17x xjtcore.sh ${{matrix.core}} ${{ secrets.BETAKEY }}
      - id: upload
        uses: actions/upload-artifact@v3
        with:
          name: jtcores
          path: release