name: Framework Unit Tests

on:
  workflow_dispatch:
  pull_request:
  repository_dispatch:
    types: rebuild
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *' # runs every night
jobs:
  framework:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.21.3'
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
        token: ${{secrets.PAT}} # Personal Access Token, must be defined in the repo's secrets
    - id: bash
      run: |
        cd /jtcores
        source setprj.sh
        /jtcores/modules/jtframe/bin/jtsim-funcs-test.sh
    - id: go
      run: |
        source ./setprj.sh
        cd $JTFRAME/src/jtframe
        go test ./...
        cd $JTFRAME/src/jtutil
        go test ./...

